# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Test reports
reports/
test-results/

# Playwright
playwright-report/
blob-report/
playwright-browsers/

# Docker
.docker/
docker-compose.override.yml

# IDE
.vscode/
.idea/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db